<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <div class="brand-container">
        <i class="pi pi-star brand-icon"></i>
        <span class="brand-text">Tryckers</span>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="nav-buttons">
        <p-button
          label="Cartelera"
          [text]="true"
          routerLink="/cartelera"
        ></p-button>
        <p-button
          label="Login / Registro"
          [text]="true"
          routerLink="/login"
        ></p-button>
      </div>
    </ng-template>
  </p-menubar>
</div>
