<section class="w-full flex items-center justify-between bg-gray-900 border-b-2 border-gray-800 px-6 py-4">
  <h1 class="text-3xl text-white font-bold">TRYCKERS</h1>

  <div class="flex space-x-4">
    <button class="px-4 py-2 bg-amber-300 text-gray-900 text-lg font-semibold rounded-xl hover:bg-amber-400 transition">Cartelera</button>
    <button class="px-4 py-2 bg-amber-300 text-gray-900 text-lg font-semibold rounded-xl hover:bg-amber-400 transition">Log In / Register</button>
  </div>
</section>
