 <form class="flex flex-col gap-2"
[formGroup]="loginForm"
(ngSubmit)="onSumbit()"
>

 <div class="card flex justify-center">
    <div pFocusTrap class="w-full sm:w-80 flex flex-col gap-6">

      <p-iconfield>
        <p-inputicon>
          <i class="pi pi-envelope"> </i>
        </p-inputicon>
        <input type="text" pInputText id="email" formControlName="email" type="email" placeholder="Email" [pAutoFocus]="true" [fluid]="true" />
      </p-iconfield>

      <p-iconfield>
          <p-inputicon >
              <i class="pi pi-user "></i>
          </p-inputicon>
          <input type="password" pInputText id="input" formControlName="password" type="text" placeholder="Password"  [fluid]="true" />
      </p-iconfield>

        <p-button type="submit" label="LOGIN" class="mt-2" styleClass="w-full" />
        <div class="flex flex-row">
        <p class="text-white ">¿No tienes una cuenta?</p><a ><span class="text-blue-300 ml-2 cursor-pointer" routerLink="/auth/register">Crea una aquí</span></a>
        </div>
  </div>
</div>
 </form>


 @if(hasError()){

    <div role="alert" class="alert alert-error fixed bottom-5 right-5 w-52">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Por favor, revise la información ingresada</span>
  </div>
  }
